.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
cursor: pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}
/* .login-button-text{
  background-color: white;
  border-style:none ;
  
} */
/* .login-button-text:hover{
  background-color: blue;
} */
.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.product-card img{
  width: 264px;
  height: 396px;
  
}
.product-card:hover img {
transform: scale(1.1);
}

.proudct-img{
  display: flex;
  justify-content: flex-end;
}